<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Create New Club</title>
</head>
<body>
<!-- Page Content-->
<main layout:fragment="body">

  <section class="py-5">

    <div class="container">
      <form class="row g-3" method="post" th:action="@{/clubs/new}" th:object="${club}">
        <div class="col-md-6">
          <label for="title" class="form-label">Title</label>
          <input type="text" th:field="*{title}" name="title" class="form-control" id="title">
          <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
        </div>
        <div class="col-md-6">
          <label for="photoUrl" class="form-label">Photo URL</label>
          <input type="text" th:field="*{photoUrl}" name="photoUrl" class="form-control" id="photoUrl">
          <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
        </div>
        <div class="col-12">
          <label for="content" class="form-label">Content</label>
          <input type="text" th:field="*{content}" name="content" class="form-control" id="content">
          <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
        </div>
        <div class="col-12">
          <div th:if="${club.id > 0}">
            <button type="submit" class="btn btn-warning">Update</button>
          </div>
          <div th:unless="${club.id > 0}">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>

</body>
</html>